<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页 - IM社区</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body class="bg-light">
<section th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3" aria-label="navi">
        <div class="container-fluid">
            <a class="navbar-brand ms-2" href="/">IM-Community</a>
            <form class="me-auto ms-2">
                <input type="search" class="form-control font-monospace" placeholder="Search..."
                       aria-label="Search">
            </form>
            <div th:unless="${session.user!=null}" class="navbar-nav">
                <a class="nav-item nav-link"
                   href="https://gitee.com/oauth/authorize?client_id=eb00a0698b705d167196002dfe4392d69aad1b743525c72a6b617b5a8acece40&redirect_uri=http://localhost:8080/login&response_type=code">通过Gitee登录</a>
            </div>
            <div th:if="${session.user!=null}" th:object="${session.user}" class="flex-shrink-0 dropdown ms-auto">
                <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser2"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img th:src="*{avatarUrl}" src="/avatar.jpg" alt="avatar" width="32" height="32"
                         class="rounded-circle img-thumbnail">
                </a>
                <ul class="dropdown-menu text-small shadow dropdown-menu-dark dropdown-menu-end"
                    aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" href="/publish">发起提问</a></li>
                    <li><a class="dropdown-item" href="/profile/question">个人资料</a></li>
                    <li><a class="dropdown-item" href="#">消息中心</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/logout">退出登录</a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>
<section class="bg-light container">
    <div class="bg-white row mt-4 pb-4">
        <div class="col-md-9 p-4 border-end">
            <div class="ms-4">
                <h3 class="font-monospace"><i class="bi bi-search me-3"></i>Discovery</h3>
                <ul class="nav nav-tabs my-2">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">最新</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">30天最热</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">7天最热</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">消灭零回复</a>
                    </li>
                </ul>
                <div th:if="${questionPageDTO!=null}" class="row">
                    <div th:each="question,index:${questionPageDTO.questionDTOList}" th:object="${question}"
                         class="container d-flex mt-2 border-bottom">
                        <div class="flex-shrink-0">
                            <img th:src="*{avatarUrl}" width="55px" class="img-thumbnail" src="/avatar.jpg"
                                 alt="avatar">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <a th:href="@{'/question/'+${question.id}}" class="text-decoration-none" href="#">
                                <h6 th:text="*{title}">Lorem ipsum dolor sit amet.</h6>
                            </a>
                            <p><small class="text-muted"><span th:text="*{commentCount}"></span>个回复 · </small>
                                <small class="text-muted"><span th:text="*{viewCount}"></span>次浏览 · </small>
                                <small class="text-muted"
                                       th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm:ss')}+'发布'"></small>
                                <small th:if="${question.gmtCreate!=question.gmtModified}" class="text-muted"
                                       th:text="' · '+${#dates.format(question.gmtModified,'yyyy-MM-dd HH:mm:ss')}+'编辑'"></small>
                            </p>
                        </div>
                    </div>
                </div>
                <!--页码组件-->
                <nav th:if="${questionPageDTO!=null}" th:object="${questionPageDTO}" aria-label="Page navigation">
                    <ul class="pagination mb-0 mt-4 pt-4 px-4 d-flex justify-content-center">
                        <!--上一页-->
                        <li th:if="${questionPageDTO.previousNumber!=-1}" class="page-item">
                            <a th:href="@{/(page=${questionPageDTO.previousNumber})}" class="page-link" href="#"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <!--<li th:unless="${questionPageDTO.previousNumber!=-1}" class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <span aria-hidden="true">&laquo;</span></a>
                        </li>-->
                        <!--中间页-->
                        <li th:each="index:${#numbers.sequence(questionPageDTO.startNumber,questionPageDTO.endNumber)}"
                            th:class="${index==questionPageDTO.currentNumber}?'page-item active':'page-item'"
                            data-th-aria-current="${index==questionPageDTO.currentNumber}?true"
                            class="page-item active">
                            <span th:if="${index==questionPageDTO.currentNumber}"
                                  th:text="${index}"
                                  class="page-link"></span>
                            <a th:unless="${index==questionPageDTO.currentNumber}" th:href="@{/(page=${index})}"
                               th:text="${index}"
                               class="page-link" href="#"></a>
                        </li>
                        <!--下一页-->
                        <li th:if="${questionPageDTO.nextNumber!=-1}" class="page-item">
                            <a th:href="@{/(page=${questionPageDTO.nextNumber})}" class="page-link" href="#"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <!--<li th:unless="${questionPageDTO.nextNumber!=-1}" class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <span aria-hidden="true">&raquo;</span></a>
                        </li>-->
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-3 p-4 mt-4">
            <div>
                <h2>Lorem ipsum dolor</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et beatae ex nulla laborum magni autem
                    saepe
                    officiis. Excepturi nostrum sunt reprehenderit praesentium ea eligendi voluptatum accusantium
                    ratione neque, laborum molestiae?</p>
            </div>
        </div>
    </div>
</section>
<section th:fragment="footer" class="row">
    <footer class="container align-bottom py-2 text-center font-monospace">
        <small>Copyright © 2021 All Rights Reserved Powered By</small>
    </footer>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>