<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录 - IM-Community</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body class="bg-light">
<section th:replace="~{index::navbar}"></section>
<!--<h1>登录</h1>
<form action="/login" method="post">
    <label>用户名
        <input name="username" type="text">
    </label><br>
    <label>密码
        <input name="password" type="password">
    </label><br>

    <input type="submit" value="登录"><span th:if="${msg!=null}" th:text="${msg}"></span><br>
</form>
<a href="/register">登录</a><br>-->
<section>
    <div class="container my-4 py-4 justify-content-md-center">
        <form class="container col-lg-4 col-xl-3 col-md-6 col-sm-12 my-4 py-4" action="/login" method="post">
            <h1 class="text-center h3 mb-3 fw-normal">登录</h1>
            <div class="form-floating mb-2">
                <input name="username" type="text" class="form-control" id="floatingInput" placeholder="用户名"
                       autocomplete="off" required>
                <label for="floatingInput">用户名</label>
            </div>
            <div class="form-floating mb-2">
                <input name="password" type="password" class="form-control" id="floatingPassword"
                       placeholder="Password" required>
                <label for="floatingPassword">密码</label>
            </div>
            <div class="d-flex">
                <div class="form-floating flex-fill me-2">
                    <input name="code" type="text" class="form-control" id="code"
                           placeholder="captcha" autocomplete="off" required>
                    <label for="code">验证码</label>
                </div>
                <img th:src="'/captcha/'+${#dates.createNow().getTime()}" class="float-end" id="captcha" src="/captcha/"
                     alt="captcha">
            </div>
            <div class="checkbox my-1 ms-1">
                <label>
                    <input name="rememberMe" type="checkbox" value="checked"> 自动登录
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">登录</button>
            <div class="alert alert-success text-center my-0" role="alert">
                没有账号? 立即<a href="/register" class="alert-link">注册</a>
            </div>
            <div th:if="${msg!=null}" th:text="${msg}" class="alert alert-danger text-center" role="alert"></div>
        </form>
    </div>
</section>
<section th:replace="~{index::footer}"></section>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
<script src="/js/captcha.js"></script>
</body>
</html>