<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人资料 - IM-Community</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/common.css">
</head>

<body class="bg-light d-flex flex-column">
<section th:replace="~{index::navbar}">
</section>
<section class="bg-light container">
    <div class="bg-white row mt-4 pb-4">
        <!--我的提问-->
        <div th:if="${questionPageDTO!=null&&questionPageDTO.questionDTOList.size()>0}"
             class="col-md-12 col-lg-9 p-4 mt-4 border-end">
            <div class="row border-bottom">
                <div class="container mb-1 ms-4">
                    <h3><i class="bi bi-list me-2"></i>我的提问</h3>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="container">
                        <div th:each="question,index:${questionPageDTO.questionDTOList}" th:object="${question}"
                             class="d-flex ms-2 mt-2 border-bottom">
                            <!--<div class="flex-shrink-0">
                                <img th:src="*{avatarUrl}" width="55px" class="img-thumbnail" src="/avatar.jpg"
                                     alt="avatar">
                            </div>-->
                            <div class="ms-3">
                                <a th:href="'/question/'+${question.id}" class="text-decoration-none" href="#">
                                    <h6 th:text="*{title}">Lorem ipsum dolor sit amet.</h6>
                                </a>
                                <p><small class="text-muted"><span th:text="${question.comments.size()}"></span>个回复 ·
                                </small>
                                    <small class="text-muted"><span th:text="*{viewCount}"></span>次浏览 · </small>
                                    <small class="text-muted"
                                           th:text="${#dates.format(question.gmtCreated,'yyyy-MM-dd HH:mm')}+'发布'"></small>
                                    <small th:if="${question.gmtCreated!=question.gmtModified}" class="text-muted"
                                           th:text="' · '+${#dates.format(question.gmtModified,'yyyy-MM-dd HH:mm')}+'编辑'"></small>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <nav th:if="${questionPageDTO!=null&&questionPageDTO.questionDTOList.size()>0&&questionPageDTO.startNumber!=questionPageDTO.endNumber}"
                         th:object="${questionPageDTO}"
                         aria-label="Page navigation">
                        <ul class="pagination mb-0 mt-4 pt-4 px-4 d-flex justify-content-center">
                            <!--上一页-->
                            <li th:if="${questionPageDTO.previousNumber!=-1}" class="page-item">
                                <a th:href="@{/profile/question(page=${questionPageDTO.previousNumber})}"
                                   class="page-link" href="#"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <!--<li th:unless="${questionPageDTO.previousNumber!=-1}" class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <span aria-hidden="true">&laquo;</span></a>
                        </li>-->
                            <!--中间页-->
                            <li th:each="index:${#numbers.sequence(questionPageDTO.startNumber,questionPageDTO.endNumber)}"
                                th:class="${index==questionPageDTO.currentNumber}?'page-item active':'page-item'"
                                data-th-aria-current="${index==questionPageDTO.currentNumber}?true"
                                class="page-item active">
                                    <span th:if="${index==questionPageDTO.currentNumber}" th:text="${index}"
                                          class="page-link"></span>
                                <a th:unless="${index==questionPageDTO.currentNumber}"
                                   th:href="@{/profile/question(page=${index})}"
                                   th:text="${index}" class="page-link" href="#"></a>
                            </li>
                            <!--下一页-->
                            <li th:if="${questionPageDTO.nextNumber!=-1}" class="page-item">
                                <a th:href="@{/profile/question(page=${questionPageDTO.nextNumber})}" class="page-link"
                                   href="#"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <!--<li th:unless="${questionPageDTO.nextNumber!=-1}" class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <span aria-hidden="true">&raquo;</span></a>
                        </li>-->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!--修改密码-->
        <div th:if="${questionPageDTO==null}" class="col-md-9 p-4 mt-4 border-end">
            <div class="container justify-content-md-center">
                <form class="container col-lg-6 col-xl-6 col-md-12 col-sm-12 my-4 py-4" action="/profile/setPassword" method="post">
                    <h1 class="text-center h3 mb-3 fw-normal">修改密码</h1>
                    <input th:value="${session.user.id}" name="userId" type="hidden">
                    <div class="form-floating mb-2">
                        <input name="passwordOld" type="password" class="form-control" id="passwordOld"
                               placeholder="passwordOld" required>
                        <label for="passwordOld">旧密码</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input name="password" type="password" class="form-control" id="password"
                               placeholder="Password" required>
                        <label for="password">新密码</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input name="passwordRepeated" type="password" class="form-control" id="passwordRepeated"
                               placeholder="passwordRepeated" required>
                        <label for="passwordRepeated">重复新密码</label>
                    </div>
                    <div class="d-flex mb-2">
                        <div class="form-floating flex-fill me-2">
                            <input name="code" type="text" class="form-control" id="code"
                                   placeholder="captcha" autocomplete="off" required>
                            <label for="code">验证码</label>
                        </div>
                        <img th:src="'/captcha/'+${#dates.createNow().getTime()}" class="float-end" id="captcha"
                             src="/captcha/"
                             alt="captcha">
                    </div>
                    <button class="w-100 btn btn-lg btn-danger" type="button" data-bs-toggle="modal"
                            data-bs-target="#confirm">修改
                    </button>
                    <div class="modal fade" id="confirm" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">最后确认</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    提交后不可撤销，需要重新登录
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                                    <button type="submit" class="btn btn-outline-danger">修改</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${msg!=null}" th:text="${msg}" class="alert alert-danger text-center"
                         role="alert"></div>
                </form>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 p-4">
            <div class="container row">
                <div th:if="${questionPageDTO!=null}" class="btn-group-vertical">
                    <button type="button" class="btn btn-primary active" aria-pressed="true">
                        我的提问 <span class="badge badge-light"></span>
                    </button>
                    <button type="button" class="btn btn-primary">
                        最新回复 <span class="badge badge-light"></span>
                    </button>
                    <button type="button" class="btn btn-primary">
                        修改密码 <span class="badge badge-light"></span>
                    </button>
                </div>
                <div th:unless="${questionPageDTO!=null}" class="btn-group-vertical">
                    <button type="button" class="btn btn-primary">
                        我的提问 <span class="badge badge-light"></span>
                    </button>
                    <button type="button" class="btn btn-primary">
                        最新回复 <span class="badge badge-light"></span>
                    </button>
                    <button type="button" class="btn btn-primary active" aria-pressed="true">
                        修改密码 <span class="badge badge-light"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section th:replace="~{index::footer}" class="row">
</section>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
<script>
    $(function () {
            $("#captcha").click(function () {
                let date = new Date();
                let name = "/captcha/" + date.getTime();
                $("#captcha").attr("src", name);
            })
        }
    );
</script>
</body>

</html>