<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>发起提问 - IM社区</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="./style.css" rel="stylesheet">
</head>

<body class="bg-light">
<section>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3" aria-label="navi">
        <div class="container-fluid">
            <a class="navbar-brand ms-2" href="/">IM-Community</a>
            <form class="me-auto ms-4">
                <input type="search" class="form-control font-monospace" placeholder="Search..."
                       aria-label="Search">
            </form>
            <div th:unless="${isLogin}" class="navbar-nav">
                <a class="nav-item nav-link"
                   href="https://gitee.com/oauth/authorize?client_id=eb00a0698b705d167196002dfe4392d69aad1b743525c72a6b617b5a8acece40&redirect_uri=http://localhost:8080/login&response_type=code">通过Gitee登录</a>
            </div>
            <div th:if="${isLogin}" class="flex-shrink-0 dropdown ms-auto">
                <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser2"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img th:src="${giteeUser.avatarUrl}" src="/avatar.jpg" alt="avatar" width="32" height="32"
                         class="rounded-circle img-thumbnail">
                </a>
                <ul class="dropdown-menu text-small shadow dropdown-menu-dark dropdown-menu-end"
                    aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" href="/publish">发起提问</a></li>
                    <li><a class="dropdown-item" href="#">历史记录</a></li>
                    <li><a class="dropdown-item" href="#">消息中心</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/logout">退出登录</a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>
<section class="bg-light my-4">
    <div class="container bg-white d-grid d-flow p-4">
        <div class="row">
            <div class="container col-md-8">
                <h4>发起提问</h4>
                <form action="/publish" method="post">
                    <div class="mb-3">
                        <label for="title" class="form-label">问题标题（必填）:</label>
                        <input th:value="${title}" name="title" type="text" class="form-control" id="title"
                               placeholder="问题标题...">
                    </div>
                    <div class="form-floating">
                            <textarea th:text="${description}" name="description" class="form-control"
                                      placeholder="请输入问题描述..." id="description"
                                      style="height: 300px"></textarea>
                        <label for="description">请输入问题描述（必填）</label>
                    </div>
                    <div class="my-3">
                        <label for="tag" class="form-label">添加标签（必填）:</label>
                        <input th:value="${tag}" name="tag" type="text" class="form-control" id="tag"
                               placeholder="输入标签，以逗号分隔...">
                    </div>
                    <ul class="nav nav-tabs my-2">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">编程语言</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">平台框架</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">服务器</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">数据库</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">开发工具</a>
                        </li>
                    </ul>
                    <div>
                        <button type="button" class="btn btn-info btn-sm">Java</button>
                        <button type="button" class="btn btn-info btn-sm">Python</button>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end my-4">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </form>
            </div>
            <div class="container col-md-4 my-4">
                <h4 class="ms-4">问题发起指南</h4>
                <ul class="py-2">
                    <li><small>问题标题: 请用精简的语言描述您发布的问题，不超过25字</small></li>
                    <li><small>问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料</small></li>
                    <li><small>选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字</small></li>
                </ul>
                <div th:if="not ${error==null}" class="alert alert-danger alert-dismissible fade show ae-auto mx-4 mt-4"
                     role="alert">
                    <strong th:text="${error}"></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-2 text-center font-monospace">
    <footer class="container">
        <small>Copyright © 2021 All Rights Reserved Powered By</small>
    </footer>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>