<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>发起提问 - IM-Community</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/common.css">
</head>

<body class="bg-light d-flex flex-column">
<section th:replace="~{index::navbar}"></section>
<section class="bg-light my-4">
    <div class="container bg-white d-grid d-flow p-4">
        <div class="row p-4">
            <div class="container col-md-9 border-end pe-4">
                <h4><i class="bi bi-plus-square-dotted me-2"></i>发起提问</h4>
                <form action="/publish" method="post">
                    <input th:if="${questionDTO!=null && questionDTO.userid!=null}"
                           th:value="${questionDTO.userid}" type="hidden" name="userId">
                    <input th:if="${questionDTO!=null && questionDTO.id!=null}"
                           th:value="${questionDTO.id}" name="id" type="hidden">
                    <div class="form-floating my-3">
                        <input name="title"
                               th:value="${questionDTO!=null && questionDTO.title!=null} ? ${questionDTO.title}"
                               type="text" class="form-control" id="title" placeholder="标题..." required
                               autocomplete="off">
                        <label for="title">标题...</label>
                    </div>
                    <div class="form-floating">
                            <textarea
                                    th:text="${questionDTO!=null && questionDTO.description!=null}?${questionDTO.description}"
                                    name="description" class="form-control"
                                    placeholder="问题描述..." id="description"
                                    style="height: 150px"></textarea>
                        <label for="description">问题描述...</label>
                    </div>
                    <div class="form-floating my-3">
                        <input name="tag" th:value="${questionDTO!=null && questionDTO.tag!=null}?${questionDTO.tag}"
                               type="text" class="form-control" id="tag" placeholder="标签..." required
                               autocomplete="off">
                        <label for="tag">标签...</label>
                    </div>
                    <!--<ul class="nav nav-tabs my-2">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">编程语言</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">平台框架</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">服务器</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">数据库</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">开发工具</a>
                        </li>
                    </ul>
                    <div>
                        <button type="button" class="btn btn-info btn-sm">Java</button>
                        <button type="button" class="btn btn-info btn-sm">Python</button>
                    </div>-->
                    <div class="row mb-4 pb-4">
                        <div class="container col-md-8 col-sm-12 px-4">
                            <div th:if="${error!=null}"
                                 class="alert alert-danger alert-dismissible fade show mt-4 justify-content-center"
                                 role="alert">
                                <strong th:text="${error}"></strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        </div>
                        <div class="container col-md-4 col-sm-12 mt-4">
                            <div class="d-grid ms-auto gap-2 justify-content-md-end my-4">
                                <button type="submit" class="btn btn-success">提交</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container col-md-3 my-4">
                <h4 class="ms-4">问题发起指南</h4>
                <ul class="py-2">
                    <li><small>问题标题: 请用精简的语言描述您发布的问题，不超过25字</small></li>
                    <li><small>问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料</small></li>
                    <li><small>选择标签: 选择一个或者多个合适的标签，用空格隔开，每个标签不超过10个字</small></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section th:replace="~{index::footer}" class="py-2 text-center font-monospace"></section>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>

</html>